// Dark Green
$dkgrn :#6fbbb7;
//  #2ABF7A;


// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;

// This is Light Grey
$grey : #DBDBDB;


$med-screen : 600px;


body {
    background-color: $dkgrn;
}

main {
    //position: relative;
    margin-bottom: 50px;
}
//side bar 
#side-bar {
    // responsive grid
    @include grid-row;
    @include grid-column(12);
    display: none;
    @include breakpoint($med-screen) {
        @include grid-column(4);
        height: 100%;
        display: block;
        position: relative;
        background-color: $dkgrn;
        list-style: none;
        color: $wht;
        text-shadow: 2px 2px 2px #39474e;
        //border-top: 1px solid $wht;
       // border-right: 1px solid $wht;
        font-weight: 900;
    }
}

#side-bar li {
    padding: 10px auto;

}


#all-message {
    border: 2px 2px solid darkgray;
}

.message {
        // responsive grid
    @include grid-column(12);
    @include breakpoint($med-screen) {
        @include grid-column(8);
        display: block;
        position: relative;
        float: right;
        list-style-type: none;
        margin: 0 0 25% 0;

}
}


//incoming messsages from contacts
#incoming-message li {
    background-color: $wht;
    color: darkgrey;
    font-weight: 600px;
    text-shadow: 1px black;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-right: 20px;
    list-style-type: none;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px 10px;
    border-radius: 3px;
    border: solid 2px #39474e;

 
}

//outgoing message box
#outgoing-message li {

    background-color: $grey;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-right: 20px;
    padding: 0 20px;
    list-style-type: none;
}

#incoming-message div {
    background-color: $dkgrn;
    color: $ltgrn;
    text-shadow: 2px 2px 2px #39474e;
    padding-top: 20px ;
    font-weight: 700;
    
}


