// Dark Green
$dkgrn : #2ABF7A;


// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;

// This is Light Grey
$grey : #DBDBDB;


$med-screen : 600px;


body {
    background-color: $dkgrn;
}

main {
    //position: relative;
    margin-bottom: 50px;
}
//side bar 
#side-bar {
    // responsive grid
    @include grid-row;
    @include grid-column(12);
    display: none;
    @include breakpoint($med-screen) {
        @include grid-column(4);
        height: 100%;
        display: block;
        position: relative;
        background-color: $dkgrn;
        list-style: none;
        color: $ltgrn;
        //border-top: 1px solid $wht;
       // border-right: 1px solid $wht;
        font-weight: 900;
    }
}


#side-bar li {
    padding: 10px auto;

}


.message {
        // responsive grid
    @include grid-column(12);
    @include breakpoint($med-screen) {
        @include grid-column(8);
        display: block;
        position: relative;
        float: right;
        list-style-type: none;
        margin: 0 0 25% 0;

}
}


//incoming messsages from contacts
#incoming-message li {
    background-color: $dkgrn;
    color: $wht;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    list-style-type: none;

 
}

//outgoing message box
#outgoing-message li {

    background-color: $grey;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    list-style-type: none;
}

#incoming-message div {
    background-color: $dkgrn;
    color: $ltgrn;
    padding-top: 5px ;
    font-weight: 900;
    
}


