// Dark Green
$dkgrn : #2ABF7A;

// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;

// This is Light Grey
$grey : #DBDBDB;

$med-screen : 600px;

#send {
    background-color: $wht;
    border: 2 px $dkgrn;
    border-radius: 15px;
    color: $dkgrn;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 1px 1px 1px grey;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    text-shadow: 1px 1px grey;
    cursor: pointer;
    position: relative;
    margin-left:35%;
    margin-top: 2%
}

#send {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#send:hover {
    background-color:darkgrey; 
    color: white;
}