// Dark Green
$dkgrn : #6fbbb7;
// #2ABF7A;

// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;

// This is Light Grey
$grey : #DBDBDB;

$med-screen : 600px;



footer {
    @include grid-row();
    position:fixed;
    left:0px;
    bottom:0px;
    padding: 10px;
    width:100%;
    background:$wht;
}

input {
        @include grid-column(12);
        //styling for small
        @include breakpoint($med-screen) {
            @include grid-column(9.5);
        }

        background-color: white;
        color: $dkgrn;
        padding: 25px 40px;
        text-align: center;
    }

#send {
        @include grid-column(12);
        //styling for small
        @include breakpoint($med-screen) {
            @include grid-column(2.5)
        }
        background-color: $wht;
        color: $dkgrn;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        margin: 0; 
        padding: 8px;
        font-family: 'Indie Flower', cursive;
    }

    #send {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    #send:hover {
        background-color:$dkgrn; 
        color: white;
    }