// Dark Green
$dkgrn : #6fbbb7;
// #2ABF7A;

// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;

// This is Light Grey
$grey : #DBDBDB;

$med-screen : 600px;

header {
    @include grid-row;

#top-bar {
            @include grid-column(12);
            background-color: #39474e;
            text-align: center;
            padding: 0px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;
        }

img {
    width: 100px;
    height: 100px;
    // position: absolute;
    background: #F7F9F9;
    margin-top: 8px;
    border: 2px solid $dkgrn;
    // top: 100px;
    // left: 140px;
    // border-radius: 50%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100px;
    color: $wht;
    text-shadow: 1px 1px grey;
    font-size: 4em;
    padding: 0px;
    margin: 10px;

}

}
