@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

@import 'header';
@import 'body';
@import 'footer';

// Sass variables
// I named the colors $dkgrn (dark green), $ltgrn ( light green), and wht (white).

// Dark Green
$dkgrn : #6fbbb7;
// #2ABF7A;


// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;

$grey : #DBDBDB;

// base font to start
body {
    font-family: Sans-Serif;
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}