@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

@import 'header';
@import 'body';
@import 'footer';
@import 'components';


// Sass variables
// I named the colors $dkgrn (dark green), $ltgrn ( light green), and wht (white).

// Dark Green
$dkgrn : #2ABF7A;


// This one is the light green color.
$ltgrn : #B7E7D4;

// This one is white.
$wht : #FFF;